#!/bin/bash
TESTBED=SOFTFIRE
TUNNELING=VXLAN
ROUTERPWD=srv6
ROUTERID=0.0.0.1

declare -a LOOPBACK=(fdff::1/128 1 1)
declare -a TAP=(tap1 tap2)
declare -a tap1=(1 endip1 fdf0::1/64 5 1 NET1)
declare -a tap2=(2 endip2 fdf0:0:0:1::1/64 5 1 NET2)
declare -a endip1=(192.168.10.2 eth0)
declare -a endip2=(172.20.0.3 eth0)

declare -a OSPFNET=(VNE1 VNE2 VNE3 LBN NET1 NET2)
declare -a VNE1=(fd01:f1::/32 0.0.0.0)
declare -a VNE2=(fd01:f2::/32 0.0.0.0)
declare -a VNE3=(fd01:f3::/32 0.0.0.0)
declare -a LBN=(fdff::1/128 0.0.0.0)
declare -a NET1=(fdf0::/64 0.0.0.0)
declare -a NET2=(fdf0:0:0:1::/64 0.0.0.0)

declare -a VNF=(VNF1 VNF2 VNF3)
declare -a VNF1=(lxd vnf1 VNF1_DEV)
declare -a VNF1_DEV=(VNF1_DEV1)
declare -a VNF1_DEV1=(L3 fd01:f1::fe 32 fd01:f1::1 eth0 br1)
declare -a VNF2=(lxd vnf2 VNF2_DEV)
declare -a VNF2_DEV=(VNF2_DEV1)
declare -a VNF2_DEV1=(L3 fd01:f2::fe 32 fd01:f2::1 eth0 br2)
declare -a VNF3=(lxd vnf3 VNF3_DEV)
declare -a VNF3_DEV=(VNF3_DEV1)
declare -a VNF3_DEV1=(L3 fd01:f3::fe 32 fd01:f3::1 eth0 br3)

declare -a DEFAULT_ROUTES=(fd01:f1::/32 fd01:f2::/32 fd01:f3::/32)
